.pagination /deep/ .ngx-pagination .current {
  background: #8FC27E;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  margin: auto 0;
  width: 120px;
}

.filter {
  display: flex;
}

input {
  margin: auto 0;
  margin-left: 12px;
  padding: 4px;
  font-size: 18px;
}

td {
  cursor: pointer;
}

tr:hover {
  background-color: #8FC27E;
  color: #FFF;
}
